
@{
    ViewBag.Title = "Context Is Needed";
    Layout = "~/Views/Application/_ApplicationLayout.cshtml";
}

@section MenuItems{
<li role="presentation"><a role="menuitem" tabindex="-1" href="#">About ContextIsNeeded</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Submit A Link</a></li>
}
<style>
    html {
        background: url(@Url.Content(ViewBag.Image)) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
    }

    body {
        padding: 0px;
    }

    .CaptionBlock{
       position:fixed;
       top:@ViewBag.QuestionTop%;
       left:@ViewBag.QuestionLeft%;
       width:40%;
        padding: 15px;
    }

    .bubble 
{
       position:fixed;
       top:@ViewBag.QuestionTop%;
       left:@ViewBag.QuestionLeft%;
       width:40%;
        padding: 15px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #5200FF solid 2px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 20px 15px 20px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
margin-top: -20px;
left: -15px;
top: 50%;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 21px 16px 21px 0;
border-color: transparent #5200FF;
display: block;
width: 0;
z-index: 0;
margin-top: -21px;
left: -18px;
top: 50%;
}

    .title {
        background-color: rgba(255, 255, 255, 0.3);
        color: #5200ff;
        width: 9em;
        right: 45%;
        left: 45%;
        bottom: 0px;
        position: fixed;
        font-family: 'Source Code Pro: 700';
        }
</style>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:700' rel='stylesheet' type='text/css'>

<div class="bubble panel panel-default h4"><a href="@ViewBag.Question.Url">@ViewBag.Question.Caption</a></div>

<div class="panel panel-default bottom h1 title"><i><strong>Context Is Needed   <span class="glyphicon-refresh"></span></strong></i></div>

<script>
    
</script>