
@{
    ViewBag.Title = "Context Is Needed";
    Layout = "~/Views/Application/_ApplicationLayout.cshtml";
}

@section MenuItems{
<li role="presentation" onclick="refresh()"><a role="menuitem" tabindex="-1">Refresh</a></li>
<li role="presentation" onclick="submitForm()"><a role="menuitem" tabindex="-1">Submit A Link</a></li>
<li role="presentation" onclick="about()"><a role="menuitem" tabindex="-1">About ContextIsNeeded</a></li>
}

@section Css{
    @Styles.Render("~/Content/base/contextneeded")
}

@section scripts
{
    @Scripts.Render("~/bundles/contextneededScripts")

    <script>
    $(document).ready(refresh);

    function refresh() {
    $.ajax({
    url: "../Application/ContextNeededEndpoint"
    }).then(function(data) {
        $.backstretch(data.url);
        $('.bubble').css('top', data.top + '%').css('left', data.left + '%');
        $('.question').attr("href", data.link).text(data.caption);
      });
    }

    function about() {
    if ($('.about').hasClass('hidden'))
    {
    $('.about').removeClass('hidden');
    } else {
    $('.about').addClass('hidden');
    }
    }

    function submitForm() {
    if ($('.submitForm').hasClass('hidden')) {
    $('.submitForm').removeClass('hidden');
    } else {
    $('.submitForm').addClass('hidden');
    }
    }

    function submitLink()
    {
    var linkData = $('.link').val();

    $.post("../Application/ContextSubmission",
    {
        link: linkData
    },
    function(data){
        submitForm();
        if(data == 'success')
        {
            popAlert("Link Submitted");
        }
        else
        {
            popAlert("Unable to submit, did you inlcude a valid URL?");
        }
    });
    }

    function popAlert(message) {
    $('#alert').html('<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><strong>'+message+'</strong></div>')
    }
    </script>
}

<div class="bubble h4"><a class="question" href="http://houseofburt.com">Uh Oh, I couldn't fetch any questions!</a></div>
<div class="about panel panel-primary col-lg-3 col-lg-offset-3 hidden">
    <div class="panel-heading" onclick="about()">About Context Is Needed<span class="glyphicon glyphicon-remove pull-right"></span></div>
    <div class="panel-body">
        <p class="vOffset5">Context Is Needed is a web application developed by Vernon Burt to present Stack Exchange network questions that are terribly out of context.</p>
        <p>If you have any questions/ comments/ suggestions feel free to contact me at: <a href="mailto:houseofburtsoftware@yahoo.com">HouseOfBurtSoftware</a></p>
    </div>
</div>
<div class="submitForm panel panel-primary col-lg-3 col-lg-offset-3 hidden">
    <div class="panel-heading hOffset10" onclick="submitForm()">Submit Link<span class="glyphicon glyphicon-remove pull-right"></span></div>
    <div class="form-inline vOffset5 hOffset10">Link to Submit</div>
    <div class="form-inline vOffset5 hOffset10"><input class="link" width="150" /></div>
    <div class="vOffset5 hOffset10"><button class="btn btn-primary" onclick="submitLink()">Submit</button></div>
    <div class="panel-body">
    </div>
</div>
<div id="alert" class="vOffset15"></div>
