
@{
    ViewBag.Title = "FresnoPopulationMap";
    Layout = "~/Views/Application/_ApplicationLayout.cshtml";
}

@section Css
{
    <link rel="stylesheet" href="http://js.arcgis.com/3.11/esri/css/esri.css">
    <link rel="stylesheet" href="http://js.arcgis.com/3.7/js/dojo/dijit/themes/claro/claro.css">
    <style>
        html, body, #map {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            background-color: teal;
            overflow: hidden;
            font-family: "Garamound";
        }

        #map {
            position: absolute;
        }

        .list-group {
            z-index: 10;
        }

        .dijitReset {
            margin-top: 5%;
        }
    </style>
}

@section scripts
{
    <script src="http://js.arcgis.com/3.11/"></script>
    <script>
    var map;
    var userPos;

    require(["esri/map", "dojo/domReady!", "esri/geometry/Point", "esri/symbols/SimpleMarkerSymbol"], function (Map, Point, SimpleMarkerSymbol) {
        map = new Map("map", {
            basemap: "streets",
            center: [-119.773979, 36.758691], //Fresno Center
            zoom: 13,
            maxZoom: 20,
            minZoom: 13,
            sliderStyle: "large",
        });
        map.on("load", zoomToUserCoords);

        var dynamicMapServiceLayer = new esri.layers.ArcGISDynamicMapServiceLayer("https://gis.sanantonio.gov/ArcGIS/rest/services/Demographics/MapServer");
        dynamicMapServiceLayer.setVisibleLayers([1,2]);
        map.addLayer(dynamicMapServiceLayer);

        function zoomToUserCoords() {
            navigator.geolocation.getCurrentPosition(fetchLocation);
            map.zoom = 14;

        }
        function fetchLocation(position) {
            map.center = position.coords;
            userPos = position.coords;
        }

    });
</script>
}
<div id="map"></div>

