@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        @{var firstArticle = true;}
        @foreach (Article newsItem in ViewBag.BigNewsItems)
        {
            <div class="item @if (firstArticle)
                             {<text>active</text>}">
                
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt=@newsItem.Title>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>@newsItem.Title</h1>
                        <p>@Html.Raw(newsItem.Content)</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Read More</a></p>
                    </div>
                </div>
            </div>
          firstArticle = false;
        }

       
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

<div class="row">
    @foreach (Article newsItem in ViewBag.LittleNewsItems)
    {
        <div class="col-md-4">
            <h2>newsItem.Title</h2>
            @Html.Raw(newsItem.Content);
            <p><a class="btn btn-default" href="#">Read More &raquo;</a></p>
        </div>
    }

</div>