
@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SideBarContent {
    <a href="http://www.linkedin.com/pub/vernon-burt/32/7ba/97a/" class="list-group-item">LinkedIn Profile</a>
    <a href="http://www.centralcaldotnet.com/" class="list-group-item">Central Valley .Net User Group</a>
}

@section Meta{
    <meta name="keywords" content="HouseOfBurt Burt fresno software developer asp mvc c# f# visual studio hire work resume hiring" />
    <meta property="og:description" content="Resume of Vernon Burt, Local Developer" />
    <meta name="description" content="Resume of Vernon Burt, Local Developer" />
    <meta property="og:url" content="@Url.Action("Resume", "Home", new RouteValueDictionary(new { area = ViewContext.RouteData.DataTokens["area"], slug = "Index" }), Uri.UriSchemeHttp, System.Configuration.ConfigurationManager.AppSettings["HostName"])" />
    <meta property="og:image" content="http://houseofburt.azurewebsites.net/Content/img/Logo.png" />
    <link rel="canonical" href="@Url.Action("Resume", "Home", new RouteValueDictionary(new { area = ViewContext.RouteData.DataTokens["area"], slug = "Index" }), Uri.UriSchemeHttp, System.Configuration.ConfigurationManager.AppSettings["HostName"])" />
}

<div class="resume">
    <section class="row">
        <h2 style="text-align: center"><strong>Vernon Burt</strong></h2>
        <div style="float:left;width:50%;text-align: left">
            <p>
                100 E Calimyrna ave <br>
                Fresno, CA 93710
            </p>
        </div>
        <div style="float:right;width:50%; text-align: right">
            <p>
                209-489-1191 <br>
                HouseOfBurtSoftware@yahoo.com
            </p>
        </div>
    </section>
    <hr>
    <section class="row">
        <h3><strong>INFORMATION TECHNOLOGY, TESTING, SUPPORT AND DEVELOPMENT</strong></h3>
        <p>Nine year career spent in end user and software support. Training and Experience programming for both project and public use. Familiar with C#, Java, Visual Basic and Python.</p>
        <ul style="list-style: disc inside">
            <li>Experience in Windows and Java programming</li>
            <li>Created both Winforms and WPF applications for team use that were later deployed to both other teams, including Service Tag Reporter and HP Warranty Reporter, which were deployed for public access as well.</li>
            <li>Experience working with Content creation team in testing and diagnosing prototype software packages for client deployment.</li>
            <li>Deep experience in end user support and in diagnosing software issues after launch for a variety of software types.</li>
            <li>Trained in a wide variety of programming topics as part of both programming degree and extra-curricular education.</li>
            <li>Educated in topics such as Network Programming, Java and C# development, Project Development and Implementation, Data Structures, and GUI design.</li>
            <li>Studied WPF, Python and Multithreading on own initiative. Graduated with a 3.92 GPA</li>
        </ul>
        <h4>Technology Skills and Qualifications</h4>
        <p><strong>Programming Languages:</strong> C# (3.0-5.0), Java (1.5+), Visual Basic (6.0-2012), Python (2.7/3.3), SQL</p>
        <br><p><strong>Programming Technologies</strong>: WinForms, WPF, WMI, SOAP, .NET, Network Programming (HTTP, LAN), UML, File I/O, MS-SQL, Crystal Reports 9-14</p>
        <br><p><strong>Operating Systems:</strong> Mac OS 7-9, Windows 95-8.1, Some Linux experience</p>
        <h3><strong>PROFESSIONAL EXPERIENCE</strong></h3>
        <br>
        <h4>DECADE SOFTWARE</h4>
        <div style="float:left;width:50%;text-align: left"><p>Merced, CA</p></div><div style="float:right;width:50%;text-align: left"><p>Oct. 2012 to present</p></div>
        <h4 style="clear:both">Software Developer</h4>
        <ul>
            <li>Worked on Company's flagship EnvisionConnect Product</li>
            <li>Developed code using C#, Winforms, WPF, SQL, IdeaBlade and DevExpress Technologies</li>
            <li>Supported Delphi6-based applications and wrote software patches for same</li>
            <li>Developer GIS based features for primary product, including ESRI based GIS features</li>
            <li>Wrote Crystal Reports and supported the application's report viewer. </li>
            <li>Worked with customers regarding escalated issues such as customer report creation or Data related problems</li>
            <li>Worked with multiple developers to reduce team's bus factor through cross-training</li>
            <li>Researched and created software prototypes for potential new software and features</li>
        </ul>
        <br>
        <h4>DELL SERVICES</h4>
        <div style="float:left;width:50%;text-align: left"><p>Merced, CA</p></div><div style="float:right;width:50%;text-align: left"><p>Sep. 2008 to Oct. 2012</p></div>
        <h4 style="clear:both">Technical Analysis Sr. Associate</h4>
        <ul>
            <li>Provided on-site support for Dignity Health's assets in the Merced County area, including community hospital, 2 outpatient centers and multiple clinics.</li>
            <li>Worked with multiple teams throughout the enterprise to support user software and hardware.</li>
            <li>Provides direct support, setup and troubleshooting of IT assets throughout the area.</li>
            <li>Participated in major projects such as the EHR technology upgrade and Merced's new hospital launch in 2010.</li>
            <li>Created software applications for other technicians to use in performance of everyday duties and in inventory work.</li>
            <li>Nominated twice for employee of the month amongst Field Services division</li>
            <li>Recognized by Regional and Division managers for innovation during client's inventory project</li>
        </ul>
        <br>
        <h4>KERMAN CHRISTIAN SCHOOL</h4>
        <div style="float:left;width:50%;text-align: left"><p>Kerman, CA</p></div><div style="float:right;width:50%;text-align: left"><p>Jul. 2005 to Aug. 2008</p></div>
        <h4 style="clear:both">Technology Coordinator</h4>
        <ul>
            <li>Taught and managed a technology base curriculum to grades K-6.</li>
            <li>Created and implemented school IT policies and Internet use policies.</li>
            <li>Maintained and deployed new IT infrastructure, including an implementation of Tablet PCs for the 6th grade class.</li>
            <li>Oversaw and tutored students in attachment online school for 7th -12th grade under the SevenStar academy brand.</li>
        </ul>
        <br>
        <h4>ALORICA INC</h4>
        <div style="float:left;width:50%;text-align: left"><p>Clovis, CA</p></div><div style="float:right;width:50%;text-align: left"><p>Jan. 2004 to Jul. 2007</p></div>
        <h4 style="clear:both">Technical Support Agent</h4>
        <ul>
            <li>Provided technical support and installation assistance over the phone for customers of contracted clients.</li>
            <li>Clients served included Dlink Wireless, Gateway Computers, and Sylvania Electronics.</li>
            <li>Served as Call-back agent, Advanced Tier technician and Escalation agent.</li>
        </ul>
    </section>
</div>


