@using Microsoft.Ajax.Utilities

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Showing results for: @ViewBag.SearchTerm</h2>

@if (ViewBag.Results != null)
{
 foreach (Article article in ViewBag.Results)
 {
     <h4>@Html.ActionLink(article.Title, "Detail", "News", new {id = article.ArticleId})</h4>
     <p>@Html.Raw(article.getArticleSummary(400))</p>
     @Html.ActionLink("Read More", "Detail", "News", new {id = article.ArticleId}, new {@class = "btn btn-primary"})

 }
}
