@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <style>
            img {
                max-height: 100%;
                max-width: 100%;
            }
        </style>
        <meta name="viewport" content="width=device-width" />
        <title>Error</title>
    </head>
    <body>
        <hgroup>
            <h2>I'm sorry, but I was unable to serve this page. If you reached this page in error please contact me at <a href="mailto:HouseOfBurtSoftware@yahoo.com">HouseOfBurtSoftware</a></h2>
        </hgroup>
        <img class="img-responsive" src="@ViewBag.ImageUrl" alt="Error Image" />
    </body>
   
</html>
